$green: #8db63f;
$blue: #008392;
$lightBlue: #21b3c3;
$gray: #60686a;
$lightGray: #dbdbdb;
$tableDarkHead: #008392;
$tableLightGreen: rgba(141, 182, 63, .1);
$tableMediumGray: #f0f0f0;
$tableLightGray: #f8f8f8; 
$blueGray: #a0aeb5;
$backgroundHighlight: rgba(141, 182, 63, .1);
$backgroundTarget: rgba(33, 179, 195, .1);
$downloadHighlight: rgba(96, 104, 106, .1);
$backgroundSpotlight: #f6f6f7;
$standardTransition: all .25s ease-in-out;
$educationGreen: #b5d886;
$topButtonLightGray: #e8f2f4;
$headerCaptionColor: #313435;