                </div>
            </div>
        </div>

        <footer>
            <div class="container footer-links">
                <div class="sub-links">
                    <div class="col-xs-12 col-sm-6 col-md-4 challenge-footer pull-right">
                        <div class="challenge-wrap">
                                <img class="img-responsive lazy" src="img/placeholder.gif" data-src="img/challenge-badge.svg">
                                                    
                                <div class="challenge-video">
                                    <a id="video" data-video-id="v0gDIQqwtTw" data-fancybox href="https://www.youtube.com/embed/v0gDIQqwtTw?enablejsapi=1" class="text-center" data-link-trigger="aa-link" data-link-type-title="Education Video Play" data-link-type="button" data-video-link="https://www.youtube.com/watch?&v=v0gDIQqwtTw" data-video-headline="Toyota’s Environmental Challenge 2050 | Toyota" data-content-section="education_video_mov">Watch Video <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <ul class="shortcut-nav">
                            <li>
                                <a href="downloads.html" target="_blank" data-link-trigger="aa-link" data-link-type-title="Downloads" data-link-type="link" data-content-section="global_footer">Downloads</a>
                            </li>
                            <li>
                                <a href="performance.html" target="_blank" data-link-trigger="aa-link" data-link-type-title="Performance" data-link-type="link" data-content-section="global_footer">Performance</a>
                            </li>
                            <li>
                                <a href="education.html" target="_blank" data-link-trigger="aa-link" data-link-type-title="Education 101" data-link-type="link" data-content-section="global_footer">Education 101</a>
                            </li>
                            <li>
                                <a href="https://www.toyota.com/support/privacy-rights" target="_blank" data-link-trigger="aa-link" data-link-type-title="Privacy Rights" data-link-type="link" data-content-section="global_footer">Your Privacy Rights</a>
                            </li>
                            <li>
                                <a href="https://www.toyota.com" target="_blank" data-link-trigger="aa-link" data-link-type-title="Toyota Home" data-link-type="link" data-content-section="global_footer">Visit Toyota.com</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <p class="footer-h"><strong>FOCUS AREA:</strong></p>
                        <ul class="shortcut-nav no-top-margin">
                            <li><a href="carbon.html" title="Carbon" data-link-trigger="aa-link" data-link-type-title="Footer Navigation Link" data-link-type="link">Carbon</a></li>
                            <li><a href="water.html" title="Water" data-link-trigger="aa-link" data-link-type-title="Footer Navigation Link" data-link-type="link">Water</a></li>
                            <li><a href="materials.html" title="Materials" data-link-trigger="aa-link" data-link-type-title="Footer Navigation Link" data-link-type="link">Materials</a></li>
                            <li><a href="biodiversity.html" title="Biodiversity" data-link-trigger="aa-link" data-link-type-title="Footer Navigation Link" data-link-type="link">Biodiversity</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-5">
                        <ul class="social">
                            <li><a class="facebook" href="http://www.facebook.com/toyota" target="_blank" alt="Facebook" data-link-trigger="km-social-outlink" data-link-type-title="Facebook" data-link-type="link" data-content-section="global_footer">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa fa-circle fa-stack-2x fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a></li>
                            <li><a class="twitter" href="https://twitter.com/toyota" target="_blank" alt="Twitter" data-link-trigger="km-social-outlink" data-link-type-title="Twitter" data-link-type="link" data-content-section="global_footer">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa fa-circle fa-stack-2x fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a></li>
                            <li><a class="youtube" href="http://www.youtube.com/user/ToyotaUSA" target="_blank" alt="YouTube" data-link-trigger="km-social-outlink" data-link-type-title="Youtube" data-link-type="link" data-content-section="global_footer">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa fa-circle fa-stack-2x fa-stack-2x"></i>
                                    <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                                </span>
                            </a></li>
                        </ul>
                    </div>

                </div>

            </div>
        </footer>

    </div>
    
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="js/vendor.js"></script>
    <script src="js/main.js"></script>
    <script src="js/graphs.js"></script>
    </body>
</html>
