<nav class="menu-wrapper offscreen">

    <div class="education-links">
        <a class="edu-101" href="education.html" title="Education 101">
            <span class="env-101">
                Environmental 101
            </span>

            <span class="learn-more">
                Learn More <i class="fa fa-caret-right" aria-hidden="true"></i>
            </span>
        </a>
    </div>

    <ul class="menu">
        <li class="gray"><a href="dear-reader.html" title="Dear Reader" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Dear Reader</a></li>            
        <li class="gray"><a href="highlights.html" title="Highlights" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Highlights</a></li>
        <li class="blue spacer"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="strategy.html" title="Strategy" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Strategy</a></span>
            <ul>
                <li><a href="strategy.html#introduction-to-strategy" title="Introduction to Strategy" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Introduction to Strategy</a></li>
                <li><a href="strategy.html#environmental-challenge-2050" title="Environmental Challenge 2050" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Environmental Challenge 2050</a></li>
                <li><a href="strategy.html#priority-issues" title="Priority Issues" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Priority Issues</a></li>
                <li><a href="strategy.html#targets" title="2021 Targets" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">2021 Targets</a></li>
                <li><a href="strategy.html#governance" title="Governance" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Governance</a></li>
            </ul>
        </li>
        <li class="green"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="carbon.html" title="Carbon" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Carbon</a></span>
            <ul>
                <li><a href="carbon.html#introduction-to-carbon" title="Introduction to Carbon" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Introduction to Carbon</a></li>
                <li><a href="carbon.html#target" title="Carbon Target" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Carbon Targets</a></li>
                <li><a href="carbon.html#reducing-new-vehicle-co2-emissions" title="Reducing New Vehicle CO2 Emissions" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Reducing New Vehicle CO<sub>2</sub> Emissions</a></li>
                <li><a href="carbon.html#eliminating-co2-from-operations" title="Eliminating CO2 From Operations" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Eliminating CO<sub>2</sub> From Operations</a></li>
                <li><a href="carbon.html#spotlight" title="Spotlight: Powered By The Sun" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Spotlight: Powered By The Sun</a></li>
                <li><a href="carbon.html#sharing-know-how" title="Sharing Know-How" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Sharing Know-How</a></li>
            </ul>
        </li>
        <li class="green"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="water.html" title="Water" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Water</a></span>
            <ul>
                <li><a href="water.html#introduction-to-water" title="Introduction to Water" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Introduction to Water</a></li>
                <li><a href="water.html#target" title="Water Target" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Water Target</a></li>
                <li><a href="water.html#conserving-water" title="Conserving Water" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Conserving Water</a></li>
                <li><a href="water.html#protecting-water-resources" title="Protecting Water Resources" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Protecting Water Resources</a></li>
                <li><a href="water.html#sharing-know-how" title="Sharing Know-How" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Sharing Know-How</a></li>
                <li><a href="water.html#spotlight" title="Spotlight: Raising The Water I.Q. In The U.S." data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Spotlight: Raising The Water I.Q. In The U.S.</a></li>
            </ul>
        </li>
        <li class="green"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="materials.html" title="Materials" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Materials</a></span>
            <ul>
                <li><a href="materials.html#introduction-to-materials" title="Introduction to Materials" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Introduction to Materials</a></li>
                <li><a href="materials.html#target" title="Materials Target" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Materials Target</a></li>
                <li><a href="materials.html#conserving-natural-resources" title="Conserving Natural Resources" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Conserving Natural Resources</a></li>
                <li><a href="materials.html#eliminating-waste-disposal" title="Eliminating Waste Disposal" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Eliminating Waste Disposal</a></li>
                <li><a href="materials.html#spotlight" title="Spotlight: Doing More With Less" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Spotlight: Doing More With Less</a></li>
                <li><a href="materials.html#sharing-know-how" title="Sharing Know-How" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Sharing Know-How</a></li>
            </ul>
        </li>
        <li class="green"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="biodiversity.html" title="Biodiversity" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Biodiversity</a></span>
            <ul>
                <li><a href="biodiversity.html#introduction-to-biodiversity" title="Introduction to Biodiversity" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Introduction to Biodiversity</a></li>
                <li><a href="biodiversity.html#target" title="Biodiversity Targets" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Biodiversity Targets</a></li>
                <li><a href="biodiversity.html#protecting-species" title="Protecting Species" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Protecting Species</a></li>
                <li><a href="biodiversity.html#conserving-habitat" title="Conserving Habitat" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Conserving Habitat</a></li>
                <li><a href="biodiversity.html#spotlight" title="Spotlight: Walking With Nature" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Spotlight: Walking With Nature</a></li>
                <li><a href="biodiversity.html#sharing-know-how" title="Sharing Know-How" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Sharing Know-How</a></li>
            </ul>
        </li>
        <li class="blue spacer"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="outreach.html" title="Outreach" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Outreach</a></span>
            <ul>
                <li><a href="outreach.html#introduction-to-outreach" title="Introduction to Outreach" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Introduction to Outreach</a></li>
                <li><a href="outreach.html#communities-and-nonprofits" title="Communities & Nonprofits" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Communities & Nonprofits</a></li>
                <li><a href="outreach.html#dealers" title="Dealers" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Dealers</a></li>
                <li><a href="outreach.html#government-agencies" title="Government Agencies" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Government Agencies</a></li>
                <li><a href="outreach.html#suppliers" title="Suppliers" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Suppliers</a></li>
                <li><a href="outreach.html#team-members" title="Team Members" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Team Members</a></li>
            </ul>
        </li>
        <li class="gray"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="performance.html" title="Performance" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Performance</a></span>
            <ul>
                <li><a href="performance.html#environmental-action-plan" title="Environmental Action Plan" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Environmental Action Plan</a></li>
                <li><a href="performance.html#air-quality" title="Air Quality" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Air Quality</a></li>
                <li><a href="performance.html#biodiversity" title="Biodiversity" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Biodiversity</a></li>
                <li><a href="performance.html#carbon" title="Carbon" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Carbon</a></li>
                <li><a href="performance.html#compliance" title="Compliance" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Compliance</a></li>
                <li><a href="performance.html#dealers" title="Dealers" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Dealers</a></li>
                <li><a href="performance.html#environmental-management-systems" title="Environmental Management Systems" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Environmental Management Systems</a></li>
                <li><a href="performance.html#green-building" title="Green Building" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Green Building</a></li>
                <li><a href="performance.html#materials" title="Materials" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Materials</a></li>
                <li><a href="performance.html#water" title="Water" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Water</a></li>
            </ul>
        </li>
        <li class="gray"><span class="link-wrap"><span class="dropdown-toggle"></span><a href="#" title="Features" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Features</a></span>
            <ul>
                <li><a href="feature-contributing-to-the-sgds.html" title="Feature: Contributing To The SDGS" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Contributing To The SDGS</a></li>
                <li><a href="feature-the-real-challenge-in-challenge-2050.html" title="Feature: The Real Challenge in Challenge 2050" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">The Real Challenge in Challenge 2050</a></li>
                <li><a href="feature-building-for-the-future.html" title="Feature: Building For The Future" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Building For The Future</a></li>
                <li><a href="feature-story-electric-avenue.html" title="Feature: Electric Avenue" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Electric Avenue</a></li>
            </ul>
        </li>
        <li class="gray"><a href="downloads.html" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Downloads</a></li>
        <li class="gray"><a target="_blank" href="http://www.bisigimpactgroup.com/toyota-naer-survey/" data-link-trigger="aa-link" data-link-type-title="Main Navigation Link" data-link-type="link">Reader Survey</a></li>
    </ul>

    <div class="social-div">
        <ul class="social">
            <li><a class="facebook" href="http://www.facebook.com/toyota" target="_blank" alt="Facebook" data-link-trigger="km-social-outlink" data-link-type-title="Facebook" data-link-type="link" data-content-section="global_footer">
                <span class="fa-stack fa-lg">
                    <i class="fa fa fa-circle fa-stack-2x fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
            <li><a class="twitter" href="https://twitter.com/toyota" target="_blank" alt="Twitter" data-link-trigger="km-social-outlink" data-link-type-title="Twitter" data-link-type="link" data-content-section="global_footer">
                <span class="fa-stack fa-lg">
                    <i class="fa fa fa-circle fa-stack-2x fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
            <li><a class="youtube" href="http://www.youtube.com/user/ToyotaUSA" target="_blank" alt="YouTube" data-link-trigger="km-social-outlink" data-link-type-title="Youtube" data-link-type="link" data-content-section="global_footer">
                <span class="fa-stack fa-lg">
                    <i class="fa fa fa-circle fa-stack-2x fa-stack-2x"></i>
                    <i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
                </span>
            </a></li>
        </ul>
    </div>

</nav>